.icontextfield {
	position: relative;

	&:hover {
		input {
			border-bottom-color: $brand-border-focus;
		}
	}

	&.error {
		input {
			border-bottom-color: red;
		}
	}
}

.icontextfield__icon {
	position: absolute;
	right: 0;
	top: 50%;
	width: 17px;
	height: 16px;
	fill: rgba(0,0,0,.44);
	transition: fill 250ms;
	transform: translateY(-50%);

	.icontextfield:hover & {
		fill: $brand-border-focus;
	}

	&.error,
	.icontextfield:hover.error & {
		fill: red;
	}
}